
header{
        background-color: #2E2E33;
    
        padding: px;
    }
header h2{
        color: white;
        margin: 0px 300px;
        margin-bottom: 80px;
        margin-top: 30px;

    }
nav button{
        background-color: #282885 ;
        border: 0px;
        padding: 10px;
        margin-left: 100px;

    }
    nav button a{
        color: white;
    }

    .imagen01 {
        margin: 200px;
    }
    footer{
        background-color: beige;
        padding: 90px;
    }
    footer a{
        color: white ;
        margin: 3px;
        padding: 6px;
        background-color: #B79E29;

    }