* {
  box-sizing: border-box;
  color: #002b52;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 1px;
  display: grid;
  background-color: #e6f0f7;

  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto auto 1fr auto;

  grid-template-areas:
    "header header"
    "nav nav"
    "main aside"
    "footer footer";

  min-height: 100vh;
}
